.robot-container {
    position: static;
    width: 100%;
    height: 100%;
    background-color: #042c83;
    align-items: center;
}

.robot-face-shape {
    position: fixed;
    height: 500px;
    width: 600px;
    background-color: slategray;
    border-width: 5px;
    top: 250px;
    left: 600px;
    border-radius: 25%;
    align-self:;
}

.robot-eye-left {
    position: relative ;
    border-radius: 30%;
    background-color: red;
    width: 45px;
    height: 45px;
    top: 25%;
    left: 35%;
}

.robot-eye-right {
    position: absolute;
    border-radius: 30%;
    background-color: red;
    width: 45px;
    height: 45px;
    left: 60%;
    top: 25%
}

.robot-ear-left {
    width: 150px;
    height: 25px;
    background-color: black;
    position: absolute;
    top: 40%;
    left: -25%;
}

.robot-ear-right {
    width: 150px;
    height: 25px;
    background-color: black;
    position: absolute;
    top: 40%;
    left: 100%;
}

.robot-nose {
    width: 50px;
    height: 50px;
    background-color: green;
    position: absolute;
    top: 235px;
    left: 280px;
}

.robot-mouth {
    width: 230px;
    height: 100px;
    background-color: black;
    position: absolute;
    top: 350px;
    left: 190px;
}

.robot-tooth {
    width: 25%;
    height: 50%;
    background-color: white;
    position: absolute;
    border-color: black;
    border-style: outset;
    z-index: 1;
}
.robot-tooth1 {
    width: 25%;
    height: 50%;
    background-color: white;
    position: absolute;
    border-color: black;
    border-style: outset;
    z-index: 1;
    left: 25%;
}
.robot-tooth2 {
    width: 25%;
    height: 50%;
    background-color: white;
    position: absolute;
    border-color: black;
    border-style: outset;
    z-index: 1;
    left: 50%;
}
.robot-tooth3 {
    width: 25%;
    height: 50%;
    background-color: white;
    position: absolute;
    border-color: black;
    border-style: outset;
    z-index: 1;
    left: 75%;
}
.robot-tooth4 {
    width: 25%;
    height: 50%;
    background-color: white;
    position: absolute;
    border-color: black;
    border-style: outset;
    z-index: 1;
    top: 50%;
}
.robot-tooth5 {
    width: 25%;
    height: 50%;
    background-color: white;
    position: absolute;
    border-color: black;
    border-style: outset;
    z-index: 1;
    left: 25%;
    top: 50%;
}
.robot-tooth6 {
    width: 25%;
    height: 50%;
    background-color: white;
    position: absolute;
    border-color: black;
    border-style: outset;
    z-index: 1;
    left: 50%;
    top: 50%;
}
.robot-tooth7 {
    width: 25%;
    height: 50%;
    background-color: white;
    position: absolute;
    border-color: black;
    border-style: outset;
    z-index: 1;
    left: 75%;
    top: 50%;
}

.robot-hair-style {
    width: 25%;
    height: 125px;
    position: absolute;
    background-color: black;
    left: 53%;
    top: 125px;
}

.robot-hair-one {
    height: 40%;
    width: 40%;
    background-color: #fff;
    transform:rotateZ(45deg);
    top: 30%;
    position: absolute;
    border-radius: 53%;
}

.robot-hair-two {
}

.robot-hair-three {
}
